<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DesignX</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="is-boxed has-animations">

    <!-- Preloader -->
   <div class="wrapper">
    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
   </div>
    <!-- End of Preloader -->

    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <p class="m-0">
                        <div class="img-container">
                            <a href="#">
                                <img class="header-logo-image" src="/images/logo.svg" alt="Logo">
                            </a>
                            <div class="right-text">
                                <a href="https://www.rahuldawpersad.com" class="logo-link"
                                    target="_blank">DESIGN<span>X</span></a>
                            </div>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">Welcome To DesignX</h1>
                            <p class="hero-paragraph">Where Creativity Meets Innovation!</p>
                            <div class="hero-cta"><a class="button button-primary" href="/signup">Sign Up</a><a
                                    class="button" href="/login">Login</a></div>
                        </div>
                        <div class="hero-figure anime-element">
                            <svg class="placeholder" width="528" height="396" viewBox="0 0 528 396">
                                <rect width="528" height="396" style="fill:transparent;" />
                            </svg>
                            <div class="hero-figure-box hero-figure-box-01" data-rotation="45deg"></div>
                            <div class="hero-figure-box hero-figure-box-02" data-rotation="-45deg"></div>
                            <div class="hero-figure-box hero-figure-box-03" data-rotation="0deg"></div>
                            <div class="hero-figure-box hero-figure-box-04" data-rotation="-135deg"></div>
                            <div class="hero-figure-box hero-figure-box-05"></div>
                            <div class="hero-figure-box hero-figure-box-06"></div>
                            <div class="hero-figure-box hero-figure-box-07"></div>
                            <div class="hero-figure-box hero-figure-box-08" data-rotation="-22deg"></div>
                            <div class="hero-figure-box hero-figure-box-09" data-rotation="-52deg"></div>
                            <div class="hero-figure-box hero-figure-box-10" data-rotation="-50deg"></div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/images/feature-icon-01.svg" alt="Feature 01">
                                    </div>
                                    <h4 class="feature-title mt-24">Web Development</h4>
                                    <p class="text-sm mb-0">
                                        Welcome to DESIGNX, where web development becomes an art form. I blend code with
                                        creativity, crafting digital experiences that leave a lasting impression. Let's
                                        build something extraordinary together.
                                    </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/images/feature-icon-02.svg" alt="Feature 02">
                                    </div>
                                    <h4 class="feature-title mt-24">Front-End Development</h4>
                                    <p class="text-sm mb-0">Embark on a visual journey with DESIGNX front-end
                                        development, where creativity meets functionality seamlessly. From sleek
                                        interfaces to intuitive user experiences, i specialize in crafting digital
                                        masterpieces that captivate and engage. </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/images/feature-icon-03.svg" alt="Feature 03">
                                    </div>
                                    <h4 class="feature-title mt-24">Back-End Development</h4>
                                    <p class="text-sm mb-0">At DESIGNX, back-end development is all about crafting
                                        secure and intuitive signup and login systems. With a focus on data protection
                                        and user experience, I specialize in engineering seamless registration
                                        processes. Let's collaborate to build backend solutions that elevate your
                                        platform's performance and user satisfaction.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/images/feature-icon-04.svg" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title mt-24">Web Hosting</h4>
                                    <p class="text-sm mb-0">Discover hassle-free web hosting solutions with DESIGNX. I
                                        specialize in finding the perfect balance between quality and affordability,
                                        ensuring your website is hosted on the best and most cost-effective platform
                                        available. Let me handle the technical details so you can focus on what matters
                                        most - growing your online presence</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/images/feature-icon-05.svg" alt="Feature 05">
                                    </div>
                                    <h4 class="feature-title mt-24">Graphic Design</h4>
                                    <p class="text-sm mb-0">Elevate your brand with DESIGNX's graphic design expertise.
                                        Specializing in crafting eye-catching business cards, captivating logos, vibrant
                                        flyers, impactful posters, and engaging ads, I bring your vision to life with
                                        creativity and precision. Let's make your brand stand out in every detail.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img src="/images/feature-icon-06.svg" alt="Feature 06">
                                    </div>
                                    <h4 class="feature-title mt-24">Portfolio</h4>
                                    <p class="text-sm mb-0">Explore my portfolio and witness the creative journey at
                                        DESIGNX. From captivating web designs to stunning graphics, each project
                                        showcases a unique blend of passion and skill. Let's bring your ideas to life -
                                        visit my portfolio <a href="https://www.webfolio.co.za"
                                            target="_blank">www.webfolio.co.za</a> and let the work speak for itself.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section class="cta section">
                <div class="container">
                    <div class="cta-inner section-inner">
                        <h3 class="section-title mt-0">Visit The Official DesignX Website.</h3>
                        <div class="cta-cta">
                            <a class="button button-primary button-wide-mobile" href="https://www.rahuldawpersad.com"
                                target="_blank">www.designx.com</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img class="header-logo-image" src="/images/logo.svg" alt="Logo">
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="https://www.rahuldawpersad.com" target="_blank">DesignX</a>
                        </li>
                        <li>
                            <a href="https://www.webfolio.co.za" target="_blank">Webfolio</a>
                        </li>
                        <li>
                            <a href="https://webfolio.co.za/components/founding" target="_blank">Founding</a>
                        </li>
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <script
                                language=javascript>document.write(unescape('%3C%61%20%68%72%65%66%3D%22%68%74%74%70%73%3A%2F%2F%77%77%77%2E%66%61%63%65%62%6F%6F%6B%2E%63%6F%6D%2F%70%72%6F%66%69%6C%65%2E%70%68%70%3F%69%64%3D%31%30%30%30%39%33%34%35%32%32%31%30%35%37%31%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%73%70%61%6E%20%63%6C%61%73%73%3D%22%73%63%72%65%65%6E%2D%72%65%61%64%65%72%2D%74%65%78%74%22%3E%46%61%63%65%62%6F%6F%6B%3C%2F%73%70%61%6E%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%73%76%67%20%77%69%64%74%68%3D%22%31%36%22%20%68%65%69%67%68%74%3D%22%31%36%22%20%78%6D%6C%6E%73%3D%22%68%74%74%70%3A%2F%2F%77%77%77%2E%77%33%2E%6F%72%67%2F%32%30%30%30%2F%73%76%67%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%61%74%68%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%64%3D%22%4D%36%2E%30%32%33%20%31%36%4C%36%20%39%48%33%56%36%68%33%56%34%63%30%2D%32%2E%37%20%31%2E%36%37%32%2D%34%20%34%2E%30%38%2D%34%20%31%2E%31%35%33%20%30%20%32%2E%31%34%34%2E%30%38%36%20%32%2E%34%33%33%2E%31%32%34%76%32%2E%38%32%31%68%2D%31%2E%36%37%63%2D%31%2E%33%31%20%30%2D%31%2E%35%36%33%2E%36%32%33%2D%31%2E%35%36%33%20%31%2E%35%33%36%56%36%48%31%33%6C%2D%31%20%33%48%39%2E%32%38%76%37%48%36%2E%30%32%33%7A%22%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%66%69%6C%6C%3D%22%23%30%32%37%30%44%37%22%20%2F%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%73%76%67%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%61%3E'))</script>

                        </li>
                        <!-- Github -->
                        <li>
                            <script
                                language=javascript>document.write(unescape('%3C%61%20%68%72%65%66%3D%22%68%74%74%70%73%3A%2F%2F%67%69%74%68%75%62%2E%63%6F%6D%2F%52%61%68%75%6C%44%61%77%70%65%72%73%61%64%22%20%74%61%72%67%65%74%3D%22%5F%62%6C%61%6E%6B%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%73%76%67%20%77%69%64%74%68%3D%22%31%38%22%20%68%65%69%67%68%74%3D%22%31%38%22%20%76%69%65%77%42%6F%78%3D%22%30%20%2D%30%2E%35%20%34%38%20%34%38%22%20%76%65%72%73%69%6F%6E%3D%22%31%2E%31%22%20%78%6D%6C%6E%73%3D%22%68%74%74%70%3A%2F%2F%77%77%77%2E%77%33%2E%6F%72%67%2F%32%30%30%30%2F%73%76%67%22%20%78%6D%6C%6E%73%3A%78%6C%69%6E%6B%3D%22%68%74%74%70%3A%2F%2F%77%77%77%2E%77%33%2E%6F%72%67%2F%31%39%39%39%2F%78%6C%69%6E%6B%22%3E%0A%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%74%69%74%6C%65%3E%47%69%74%68%75%62%2D%63%6F%6C%6F%72%3C%2F%74%69%74%6C%65%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%65%73%63%3E%43%72%65%61%74%65%64%20%77%69%74%68%20%53%6B%65%74%63%68%2E%3C%2F%64%65%73%63%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%65%66%73%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%65%66%73%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%67%20%69%64%3D%22%49%63%6F%6E%73%22%20%73%74%72%6F%6B%65%3D%22%6E%6F%6E%65%22%20%73%74%72%6F%6B%65%2D%77%69%64%74%68%3D%22%31%22%20%66%69%6C%6C%3D%22%6E%6F%6E%65%22%20%66%69%6C%6C%2D%72%75%6C%65%3D%22%65%76%65%6E%6F%64%64%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%67%20%69%64%3D%22%43%6F%6C%6F%72%2D%22%20%74%72%61%6E%73%66%6F%72%6D%3D%22%74%72%61%6E%73%6C%61%74%65%28%2D%37%30%30%2E%30%30%30%30%30%30%2C%20%2D%35%36%30%2E%30%30%30%30%30%30%29%22%20%66%69%6C%6C%3D%22%23%33%45%37%35%43%33%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%61%74%68%20%64%3D%22%4D%37%32%33%2E%39%39%38%35%2C%35%36%30%20%43%37%31%30%2E%37%34%36%2C%35%36%30%20%37%30%30%2C%35%37%30%2E%37%38%37%30%39%32%20%37%30%30%2C%35%38%34%2E%30%39%36%36%34%34%20%43%37%30%30%2C%35%39%34%2E%37%34%30%36%37%31%20%37%30%36%2E%38%37%36%2C%36%30%33%2E%37%37%31%38%33%20%37%31%36%2E%34%31%34%35%2C%36%30%36%2E%39%35%38%34%31%32%20%43%37%31%37%2E%36%31%34%35%2C%36%30%37%2E%31%37%39%37%38%36%20%37%31%38%2E%30%35%32%35%2C%36%30%36%2E%34%33%35%38%34%39%20%37%31%38%2E%30%35%32%35%2C%36%30%35%2E%37%39%37%33%32%38%20%43%37%31%38%2E%30%35%32%35%2C%36%30%35%2E%32%32%35%30%36%38%20%37%31%38%2E%30%33%31%35%2C%36%30%33%2E%37%31%30%30%38%36%20%37%31%38%2E%30%31%39%35%2C%36%30%31%2E%36%39%39%36%34%38%20%43%37%31%31%2E%33%34%33%2C%36%30%33%2E%31%35%35%38%39%38%20%37%30%39%2E%39%33%34%35%2C%35%39%38%2E%34%36%39%33%39%34%20%37%30%39%2E%39%33%34%35%2C%35%39%38%2E%34%36%39%33%39%34%20%43%37%30%38%2E%38%34%34%2C%35%39%35%2E%36%38%36%34%30%35%20%37%30%37%2E%32%37%30%35%2C%35%39%34%2E%39%34%35%34%38%20%37%30%37%2E%32%37%30%35%2C%35%39%34%2E%39%34%35%34%38%20%43%37%30%35%2E%30%39%31%2C%35%39%33%2E%34%35%30%30%37%35%20%37%30%37%2E%34%33%35%35%2C%35%39%33%2E%34%38%30%31%39%34%20%37%30%37%2E%34%33%35%35%2C%35%39%33%2E%34%38%30%31%39%34%20%43%37%30%39%2E%38%34%33%2C%35%39%33%2E%36%35%30%33%36%36%20%37%31%31%2E%31%31%30%35%2C%35%39%35%2E%39%36%33%34%39%39%20%37%31%31%2E%31%31%30%35%2C%35%39%35%2E%39%36%33%34%39%39%20%43%37%31%33%2E%32%35%32%35%2C%35%39%39%2E%36%34%35%35%33%38%20%37%31%36%2E%37%32%38%2C%35%39%38%2E%35%38%32%33%34%20%37%31%38%2E%30%39%36%2C%35%39%37%2E%39%36%34%39%30%32%20%43%37%31%38%2E%33%31%33%35%2C%35%39%36%2E%34%30%37%37%35%34%20%37%31%38%2E%39%33%34%35%2C%35%39%35%2E%33%34%36%30%36%32%20%37%31%39%2E%36%32%2C%35%39%34%2E%37%34%33%36%38%33%20%43%37%31%34%2E%32%39%30%35%2C%35%39%34%2E%31%33%35%32%38%31%20%37%30%38%2E%36%38%38%2C%35%39%32%2E%30%36%39%31%32%33%20%37%30%38%2E%36%38%38%2C%35%38%32%2E%38%33%36%31%36%37%20%43%37%30%38%2E%36%38%38%2C%35%38%30%2E%32%30%35%32%37%39%20%37%30%39%2E%36%32%32%35%2C%35%37%38%2E%30%35%34%37%38%38%20%37%31%31%2E%31%35%38%35%2C%35%37%36%2E%33%36%39%36%33%34%20%43%37%31%30%2E%39%31%31%2C%35%37%35%2E%37%35%39%37%32%36%20%37%31%30%2E%30%38%37%35%2C%35%37%33%2E%33%31%31%30%35%38%20%37%31%31%2E%33%39%32%35%2C%35%36%39%2E%39%39%33%34%35%38%20%43%37%31%31%2E%33%39%32%35%2C%35%36%39%2E%39%39%33%34%35%38%20%37%31%33%2E%34%30%38%35%2C%35%36%39%2E%33%34%35%39%30%32%20%37%31%37%2E%39%39%32%35%2C%35%37%32%2E%34%36%33%32%31%20%43%37%31%39%2E%39%30%38%2C%35%37%31%2E%39%32%38%35%39%39%20%37%32%31%2E%39%36%2C%35%37%31%2E%36%36%32%30%34%37%20%37%32%34%2E%30%30%31%35%2C%35%37%31%2E%36%35%31%35%30%35%20%43%37%32%36%2E%30%34%2C%35%37%31%2E%36%36%32%30%34%37%20%37%32%38%2E%30%39%33%35%2C%35%37%31%2E%39%32%38%35%39%39%20%37%33%30%2E%30%31%30%35%2C%35%37%32%2E%34%36%33%32%31%20%43%37%33%34%2E%35%39%31%35%2C%35%36%39%2E%33%34%35%39%30%32%20%37%33%36%2E%36%30%33%2C%35%36%39%2E%39%39%33%34%35%38%20%37%33%36%2E%36%30%33%2C%35%36%39%2E%39%39%33%34%35%38%20%43%37%33%37%2E%39%31%32%35%2C%35%37%33%2E%33%31%31%30%35%38%20%37%33%37%2E%30%38%39%2C%35%37%35%2E%37%35%39%37%32%36%20%37%33%36%2E%38%34%31%35%2C%35%37%36%2E%33%36%39%36%33%34%20%43%37%33%38%2E%33%38%30%35%2C%35%37%38%2E%30%35%34%37%38%38%20%37%33%39%2E%33%30%39%2C%35%38%30%2E%32%30%35%32%37%39%20%37%33%39%2E%33%30%39%2C%35%38%32%2E%38%33%36%31%36%37%20%43%37%33%39%2E%33%30%39%2C%35%39%32%2E%30%39%31%37%31%32%20%37%33%33%2E%36%39%37%35%2C%35%39%34%2E%31%32%39%32%35%37%20%37%32%38%2E%33%35%31%35%2C%35%39%34%2E%37%32%35%36%31%32%20%43%37%32%39%2E%32%31%32%35%2C%35%39%35%2E%34%36%39%35%34%39%20%37%32%39%2E%39%38%30%35%2C%35%39%36%2E%39%33%39%33%35%33%20%37%32%39%2E%39%38%30%35%2C%35%39%39%2E%31%38%37%37%33%20%43%37%32%39%2E%39%38%30%35%2C%36%30%32%2E%34%30%38%39%34%39%20%37%32%39%2E%39%35%30%35%2C%36%30%35%2E%30%30%36%37%30%36%20%37%32%39%2E%39%35%30%35%2C%36%30%35%2E%37%39%37%33%32%38%20%43%37%32%39%2E%39%35%30%35%2C%36%30%36%2E%34%34%31%38%37%33%20%37%33%30%2E%33%38%32%35%2C%36%30%37%2E%31%39%31%38%33%34%20%37%33%31%2E%36%30%30%35%2C%36%30%36%2E%39%35%35%34%20%43%37%34%31%2E%31%33%2C%36%30%33%2E%37%36%32%37%39%34%20%37%34%38%2C%35%39%34%2E%37%33%37%36%35%39%20%37%34%38%2C%35%38%34%2E%30%39%36%36%34%34%20%43%37%34%38%2C%35%37%30%2E%37%38%37%30%39%32%20%37%33%37%2E%32%35%34%2C%35%36%30%20%37%32%33%2E%39%39%38%35%2C%35%36%30%22%20%69%64%3D%22%47%69%74%68%75%62%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%70%61%74%68%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%67%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%67%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%73%76%67%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%61%3E'))</script>

                        </li>
                        <!-- Youtube -->
                        <li>
                            <script
                                language=javascript>document.write(unescape('%20%3C%61%20%68%72%65%66%3D%22%68%74%74%70%73%3A%2F%2F%77%77%77%2E%79%6F%75%74%75%62%65%2E%63%6F%6D%2F%63%68%61%6E%6E%65%6C%2F%55%43%39%77%77%68%74%51%5F%44%50%38%64%56%6F%63%37%5F%64%6A%5F%49%67%67%22%20%74%61%72%67%65%74%3D%22%5F%62%6C%61%6E%6B%22%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%73%76%67%20%77%69%64%74%68%3D%22%31%38%22%20%68%65%69%67%68%74%3D%22%31%38%22%20%76%69%65%77%42%6F%78%3D%22%30%20%2D%37%20%34%38%20%34%38%22%20%76%65%72%73%69%6F%6E%3D%22%31%2E%31%22%20%78%6D%6C%6E%73%3D%22%68%74%74%70%3A%2F%2F%77%77%77%2E%77%33%2E%6F%72%67%2F%32%30%30%30%2F%73%76%67%22%20%78%6D%6C%6E%73%3A%78%6C%69%6E%6B%3D%22%68%74%74%70%3A%2F%2F%77%77%77%2E%77%33%2E%6F%72%67%2F%31%39%39%39%2F%78%6C%69%6E%6B%22%3E%0A%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%74%69%74%6C%65%3E%59%6F%75%74%75%62%65%2D%63%6F%6C%6F%72%3C%2F%74%69%74%6C%65%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%65%73%63%3E%43%72%65%61%74%65%64%20%77%69%74%68%20%53%6B%65%74%63%68%2E%3C%2F%64%65%73%63%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%64%65%66%73%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%64%65%66%73%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%67%20%69%64%3D%22%49%63%6F%6E%73%22%20%73%74%72%6F%6B%65%3D%22%6E%6F%6E%65%22%20%73%74%72%6F%6B%65%2D%77%69%64%74%68%3D%22%31%22%20%66%69%6C%6C%3D%22%6E%6F%6E%65%22%20%66%69%6C%6C%2D%72%75%6C%65%3D%22%65%76%65%6E%6F%64%64%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%67%20%69%64%3D%22%43%6F%6C%6F%72%2D%22%20%74%72%61%6E%73%66%6F%72%6D%3D%22%74%72%61%6E%73%6C%61%74%65%28%2D%32%30%30%2E%30%30%30%30%30%30%2C%20%2D%33%36%38%2E%30%30%30%30%30%30%29%22%20%66%69%6C%6C%3D%22%23%43%45%31%33%31%32%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%70%61%74%68%20%64%3D%22%4D%32%31%39%2E%30%34%34%2C%33%39%31%2E%32%36%39%39%31%36%20%4C%32%31%39%2E%30%34%32%35%2C%33%37%37%2E%36%38%37%37%34%32%20%4C%32%33%32%2E%30%31%31%35%2C%33%38%34%2E%35%30%32%32%34%34%20%4C%32%31%39%2E%30%34%34%2C%33%39%31%2E%32%36%39%39%31%36%20%5A%20%4D%32%34%37%2E%35%32%2C%33%37%35%2E%33%33%34%31%36%33%20%43%32%34%37%2E%35%32%2C%33%37%35%2E%33%33%34%31%36%33%20%32%34%37%2E%30%35%30%35%2C%33%37%32%2E%30%30%33%31%39%39%20%32%34%35%2E%36%31%32%2C%33%37%30%2E%35%33%36%33%36%36%20%43%32%34%33%2E%37%38%36%35%2C%33%36%38%2E%36%31%30%32%39%39%20%32%34%31%2E%37%34%30%35%2C%33%36%38%2E%36%30%31%32%33%35%20%32%34%30%2E%38%30%33%2C%33%36%38%2E%34%38%39%34%34%38%20%43%32%33%34%2E%30%38%36%2C%33%36%38%20%32%32%34%2E%30%31%30%35%2C%33%36%38%20%32%32%34%2E%30%31%30%35%2C%33%36%38%20%4C%32%32%33%2E%39%38%39%35%2C%33%36%38%20%43%32%32%33%2E%39%38%39%35%2C%33%36%38%20%32%31%33%2E%39%31%34%2C%33%36%38%20%32%30%37%2E%31%39%37%2C%33%36%38%2E%34%38%39%34%34%38%20%43%32%30%36%2E%32%35%38%2C%33%36%38%2E%36%30%31%32%33%35%20%32%30%34%2E%32%31%33%35%2C%33%36%38%2E%36%31%30%32%39%39%20%32%30%32%2E%33%38%36%35%2C%33%37%30%2E%35%33%36%33%36%36%20%43%32%30%30%2E%39%34%38%2C%33%37%32%2E%30%30%33%31%39%39%20%32%30%30%2E%34%38%2C%33%37%35%2E%33%33%34%31%36%33%20%32%30%30%2E%34%38%2C%33%37%35%2E%33%33%34%31%36%33%20%43%32%30%30%2E%34%38%2C%33%37%35%2E%33%33%34%31%36%33%20%32%30%30%2C%33%37%39%2E%32%34%36%37%32%33%20%32%30%30%2C%33%38%33%2E%31%35%37%37%37%33%20%4C%32%30%30%2C%33%38%36%2E%38%32%35%36%31%20%43%32%30%30%2C%33%39%30%2E%37%33%38%31%37%20%32%30%30%2E%34%38%2C%33%39%34%2E%36%34%39%32%32%20%32%30%30%2E%34%38%2C%33%39%34%2E%36%34%39%32%32%20%43%32%30%30%2E%34%38%2C%33%39%34%2E%36%34%39%32%32%20%32%30%30%2E%39%34%38%2C%33%39%37%2E%39%38%30%31%38%34%20%32%30%32%2E%33%38%36%35%2C%33%39%39%2E%34%34%37%30%31%36%20%43%32%30%34%2E%32%31%33%35%2C%34%30%31%2E%33%37%33%30%38%34%20%32%30%36%2E%36%31%32%2C%34%30%31%2E%33%31%32%36%35%38%20%32%30%37%2E%36%38%2C%34%30%31%2E%35%31%33%35%37%34%20%43%32%31%31%2E%35%32%2C%34%30%31%2E%38%38%35%31%39%31%20%32%32%34%2C%34%30%32%20%32%32%34%2C%34%30%32%20%43%32%32%34%2C%34%30%32%20%32%33%34%2E%30%38%36%2C%34%30%31%2E%39%38%34%38%39%34%20%32%34%30%2E%38%30%33%2C%34%30%31%2E%34%39%35%34%34%36%20%43%32%34%31%2E%37%34%30%35%2C%34%30%31%2E%33%38%32%31%34%38%20%32%34%33%2E%37%38%36%35%2C%34%30%31%2E%33%37%33%30%38%34%20%32%34%35%2E%36%31%32%2C%33%39%39%2E%34%34%37%30%31%36%20%43%32%34%37%2E%30%35%30%35%2C%33%39%37%2E%39%38%30%31%38%34%20%32%34%37%2E%35%32%2C%33%39%34%2E%36%34%39%32%32%20%32%34%37%2E%35%32%2C%33%39%34%2E%36%34%39%32%32%20%43%32%34%37%2E%35%32%2C%33%39%34%2E%36%34%39%32%32%20%32%34%38%2C%33%39%30%2E%37%33%38%31%37%20%32%34%38%2C%33%38%36%2E%38%32%35%36%31%20%4C%32%34%38%2C%33%38%33%2E%31%35%37%37%37%33%20%43%32%34%38%2C%33%37%39%2E%32%34%36%37%32%33%20%32%34%37%2E%35%32%2C%33%37%35%2E%33%33%34%31%36%33%20%32%34%37%2E%35%32%2C%33%37%35%2E%33%33%34%31%36%33%20%4C%32%34%37%2E%35%32%2C%33%37%35%2E%33%33%34%31%36%33%20%5A%22%20%69%64%3D%22%59%6F%75%74%75%62%65%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%70%61%74%68%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%67%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%67%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%73%76%67%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2F%61%3E'))</script>

                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2024 DesignX, all rights reserved</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascript/index.js"></script>
</body>

</html>